.rect{
    height: 150px;width: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    font-weight: 600;
    font-family: mayrid;
    
}
.red{
    background: red;
    color:#fff;
}
.gold{
    background: gold;
    
}

.inner{
background: navy;
}
.box{
width:60px;
height:60px;
border-radius: 50%;
    text-align: center;
    font-size: 30px
}
.bg1{
background: orangered;
}
.bg2{
background: limegreen;
}
.bg3{
background: dodgerblue;
}
.bg4{
background: gold;
}