.rect{
    height: 150px;width: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    font-weight: 900;
    font-family:helvetica;
    
}

.inner{
background:#FFFF99;
}
.box{
width:50px;
height:50px;
border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 900

}

.h2{
    color: red
}
.h3{
    font-size: 16px
}

.bg1{
background: gold;
}
.bg2{
background: gold;
}
.bg3{
background: gold;
}
.bg4{
background: gold;
}
.bg5{
    background: gold
}
.bg6{
    background: gold
}
.bg7{
    background: gold
}
.bg8{
    background: gold
}
.bg9{
    background: gold
}
.bg10{
    background: gold
}
.bg11{
    background: gold
}
.bg12{
    background: gold
}
.bg13{
    background: red
}